## 네이버 금융 개별종목 수집
* FinanceDataReader를 통해 수집했던 데이터를 네이버 증권 웹 페이지를 통해 직접 수집합니다.


### Keyword

* html 파일 읽어오기
    * pd.read_html(url, encoding="cp949")

* 결측 데이터 제거하기(axis 0:행, 1:열)
    * table[0].dropna()

* 데이터 프레임 합치기
    * pd.concat([df1, df2, df3])

* 중복데이터 제거
    * df.drop_duplicates()

* 과학적 기수법
    * 1.210000e+02 => 121

* 날짜 column의 첫 row값 확인
    * date = df.iloc[0]["날짜"]

* 파일로 저장하기 
    * df.to_csv(file_name, index=False)

* 파일 읽어오기
    * pd.read_csv(file_name)

## 수집할 페이지 보기

* 네이버 금융 국내증시 : https://finance.naver.com/sise/
* 2020년 주요 상장종목
    * 하이브 : https://finance.naver.com/item/main.nhn?code=352820
    * 카카오게임즈 : https://finance.naver.com/item/main.nhn?code=293490
    * SK바이오팜 : https://finance.naver.com/item/main.nhn?code=326030

## 라이브러리 로드

In [1]:
# 라이브러리 로드
import pandas as pd
import FinanceDataReader as fdr

## 수집할 URL 정하기

In [2]:
# 종목번호와 상장사 이름을 item_code와 item_name으로 설정
# item_code = "352820"
# item_name = "하이브"

item_code = "326030"
item_name = "SK바이오팜"

# 종목 URL 만들기
page_no = 1
url = f"https://finance.naver.com/item/sise_day.naver?code={item_code}&page={page_no}" # f스트링
print(url)


# https://finance.naver.com/item/sise_day.naver?code=326030&page=6

https://finance.naver.com/item/sise_day.naver?code=326030&page=1

## requests를 통한 HTTP 요청
* [Requests: HTTP for Humans™ — Requests documentation](https://requests.readthedocs.io/en/master/)
* [Quickstart — Requests documentation # custom-headers](https://requests.readthedocs.io/en/latest/user/quickstart/#custom-headers)

In [3]:
import requests 
headers = {"user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.55 Safari/537.36"} #user-agent"
# 브라우저라는 것을 알려주기 위해 hearders 를 user-agent 내용을 가져옴


response = requests.get(url, headers = headers)  # Requests method
response.text

'\n<html lang="ko">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\n<title>네이버 금융</title>\n\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211203184133/css/newstock.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211203184133/css/common.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211203184133/css/layout.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211203184133/css/main.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211203184133/css/newstock2.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211203184133/css/newstock3.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20211203184133/css/world.css">\n</head>\n<body>\n<script language="JavaScript">\nfunction mouseOver(obj){\n  obj.style.backgroundColor="#f6f4e5";\n}\nfunction mouseOut(obj){\n  obj.style.backgroundColor="#ffffff";\n}\n</script>\n\t\t\t\t<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>\t\t\t\n\t\t\t\t<table cellspacing="0" class="type2">\n\t\t\t\t<tr>\n\t\t\t\t<th>날짜</th>\n\t\t\t\t<th>종가</th>\n\t\t\t\t<th>전일비</th>\n\t\t\t\t<th>시가</th>\n\t\t\t\t<th>고가</th>\n\t\t\t\t<th>저가</th>\n\t\t\t\t<th>거래량</th>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\n\n\t\n\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.12.06</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">98,100</span></td>\n\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t1,800\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t<td class="num"><span class="tah p11">99,300</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">100,500</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">97,100</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">146,395</span></td>\n\t\t\t\t</tr>\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.12.03</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">99,900</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t2,900\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">97,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">100,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">95,900</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">222,004</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.12.02</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">97,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t2,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">93,800</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">97,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">93,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">145,098</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.12.01</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">95,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t300\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">94,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">95,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">92,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">178,901</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.11.30</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">95,300</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t500\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">96,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">97,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">94,200</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">265,739</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="1" bgcolor="#e1e1e1"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.11.29</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">95,800</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t2,800\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">97,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">98,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">95,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">240,919</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.11.26</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">98,600</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t800\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">97,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">100,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">97,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">141,832</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.11.25</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">97,800</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t1,700\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">99,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">99,800</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">97,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">136,740</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.11.24</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">99,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t200\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">99,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">100,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">98,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">122,616</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.11.23</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">99,700</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t1,800\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">101,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">102,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">99,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">123,807</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\n\t\n\t\n\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 시작--->\n\t\t\t\t<table summary="페이지 네비게이션 리스트" class="Nnavi" align="center">\n\t\t\t\t<caption>페이지 네비게이션</caption>\n\t\t\t\t<tr>\t\t\n\t\t\t\n\t\t\t\t\n                \n                <td class="on">\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=1"  >1</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=2"  >2</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=3"  >3</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=4"  >4</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=5"  >5</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=6"  >6</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=7"  >7</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=8"  >8</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=9"  >9</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=10"  >10</a>\n\t\t\t\t</td>\n\n                <td class="pgR">\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=11"  >\n\t\t\t\t다음<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n                <td class="pgRR">\n\t\t\t\t<a href="/item/sise_day.naver?code=326030&amp;page=36"  >맨뒤\n\t\t\t\t<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n            \n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 끝--->\n\n\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20211203184133/js/jindo.min.ns.1.5.3.euckr.js"></script>\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20211203184133/js/lcslog.js"></script>\n\t<script type="text/javascript">\n        ;(function(){\n            var eventType = "onpageshow" in window ? "pageshow" : "load";\n            jindo.$Fn(function(){\n                lcs_do();\n            }).attach(window, eventType);\n        })();\n\t</script>\n\n</body>'

## BeautifulSoup 을 통한 table 태그 찾기

In [4]:
from bs4 import BeautifulSoup as bs

In [5]:
html = bs(response.text, "lxml")
bs_table = html.select("table")

## pandas 코드 한 줄로 데이터 수집하기

In [6]:
print(url)


# 서버는 트래픽 총량이 어느정도 정해져 있기 때문에 서버에 요청을 지속적으로 보내줄 경우 = 디도스 공격과 같을 수 있다.
# www.naver.com/robots.txt >> 권고사항 
# 저작권 확인 할 것 
# 미국의 경우 공개된 데이터를 긁어가는 것은 합법임(참고)

https://finance.naver.com/item/sise_day.naver?code=326030&page=1

In [7]:
# read_html을 이용하여 url의 page내의 값을 DataFrame으로 받아옵니다.
# cp949는 한글 인코딩을 위해 사용합니다. 기본 인코딩 설정은 utf-8 이며, 
# 네이버의 일별 시세는 cp949 인코딩으로 불러올 수 있습니다.
# 데이터를 로드 했을 때 한글 인코딩이 깨진다면 대부분 cp949 로 불러올 수 있습니다.
# table

table = pd.read_html(str(bs_table)) 
# str 을 넣어주는 이유는 >> 그냥 가져오게되면 리스트형태로 타입에러가 발생하기에, 읽을 수 있는 데이터를 넣어주어야함(문자열형태)
table

[            날짜       종가     전일비        시가        고가       저가       거래량
 0          NaN      NaN     NaN       NaN       NaN      NaN       NaN
 1   2021.12.06  98100.0  1800.0   99300.0  100500.0  97100.0  146395.0
 2   2021.12.03  99900.0  2900.0   97400.0  100500.0  95900.0  222004.0
 3   2021.12.02  97000.0  2000.0   93800.0   97000.0  93500.0  145098.0
 4   2021.12.01  95000.0   300.0   94100.0   95500.0  92700.0  178901.0
 5   2021.11.30  95300.0   500.0   96000.0   97100.0  94200.0  265739.0
 6          NaN      NaN     NaN       NaN       NaN      NaN       NaN
 7          NaN      NaN     NaN       NaN       NaN      NaN       NaN
 8          NaN      NaN     NaN       NaN       NaN      NaN       NaN
 9   2021.11.29  95800.0  2800.0   97000.0   98600.0  95700.0  240919.0
 10  2021.11.26  98600.0   800.0   97500.0  100500.0  97500.0  141832.0
 11  2021.11.25  97800.0  1700.0   99500.0   99800.0  97600.0  136740.0
 12  2021.11.24  99500.0   200.0   99600.0  100500.0  98700.0  122616.0
 13  2021.11.23  99700.0  1800.0  101000.0  102000.0  99700.0  123807.0
 14         NaN      NaN     NaN       NaN       NaN      NaN       NaN,
    0   1   2   3   4   5   6   7   8   9   10  11
 0   1   2   3   4   5   6   7   8   9  10  다음  맨뒤]

In [8]:
# table[0]와 table[1]을 확인하여 보면 table[0]에 필요한 데이터들이 있습니다.
table[0]

            날짜       종가     전일비        시가        고가       저가       거래량
0          NaN      NaN     NaN       NaN       NaN      NaN       NaN
1   2021.12.06  98100.0  1800.0   99300.0  100500.0  97100.0  146395.0
2   2021.12.03  99900.0  2900.0   97400.0  100500.0  95900.0  222004.0
3   2021.12.02  97000.0  2000.0   93800.0   97000.0  93500.0  145098.0
4   2021.12.01  95000.0   300.0   94100.0   95500.0  92700.0  178901.0
5   2021.11.30  95300.0   500.0   96000.0   97100.0  94200.0  265739.0
6          NaN      NaN     NaN       NaN       NaN      NaN       NaN
7          NaN      NaN     NaN       NaN       NaN      NaN       NaN
8          NaN      NaN     NaN       NaN       NaN      NaN       NaN
9   2021.11.29  95800.0  2800.0   97000.0   98600.0  95700.0  240919.0
10  2021.11.26  98600.0   800.0   97500.0  100500.0  97500.0  141832.0
11  2021.11.25  97800.0  1700.0   99500.0   99800.0  97600.0  136740.0
12  2021.11.24  99500.0   200.0   99600.0  100500.0  98700.0  122616.0
13  2021.11.23  99700.0  1800.0  101000.0  102000.0  99700.0  123807.0
14         NaN      NaN     NaN       NaN       NaN      NaN       NaN

In [9]:
# dropna를 통해 결측치가 들어있는 row를 제거합니다.
temp = table[0].dropna()
temp

            날짜       종가     전일비        시가        고가       저가       거래량
1   2021.12.06  98100.0  1800.0   99300.0  100500.0  97100.0  146395.0
2   2021.12.03  99900.0  2900.0   97400.0  100500.0  95900.0  222004.0
3   2021.12.02  97000.0  2000.0   93800.0   97000.0  93500.0  145098.0
4   2021.12.01  95000.0   300.0   94100.0   95500.0  92700.0  178901.0
5   2021.11.30  95300.0   500.0   96000.0   97100.0  94200.0  265739.0
9   2021.11.29  95800.0  2800.0   97000.0   98600.0  95700.0  240919.0
10  2021.11.26  98600.0   800.0   97500.0  100500.0  97500.0  141832.0
11  2021.11.25  97800.0  1700.0   99500.0   99800.0  97600.0  136740.0
12  2021.11.24  99500.0   200.0   99600.0  100500.0  98700.0  122616.0
13  2021.11.23  99700.0  1800.0  101000.0  102000.0  99700.0  123807.0

## 페이지별 데이터 수집 함수 만들기

In [10]:
# 종목 번호를 이용해 page에 따라 데이터를 읽어오는 함수
# """ 는 이 두개 사이의 행들은 주석 처리되며, 함수의 docstring 으로 사용됩니다.

def get_day_list(item_code, page_no):
    """
    일자별 시세를 페이지별로 수집
    """ 
    url = f"https://finance.naver.com/item/sise_day.naver?code={item_code}&page={page_no}"
    
    headers = {"user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.55 Safari/537.36"} #user-agent"
    # 해더를 만들어주는 이유는 > 데이터를 수집하는 주체(나)가 브라우저라고 알려주기 위함
    
    response = requests.get(url, headers = headers)  # Requests method 
    html = bs(response.text, "lxml") # Request 해석하기 어렵기 때문에 beatiful soup으로 감싸준다. > lxml 파씽하는 방법 중 하나임.
    bs_table = html.select("table")
    table = pd.read_html(str(bs_table))
    temp = table[0].dropna()
    return temp

In [11]:
# 함수가 잘 만들어졌는지 확인하기
item_code = "055550"
# page_no = 1
get_day_list(item_code, page_no)

            날짜       종가     전일비       시가       고가       저가        거래량
1   2021.12.06  37050.0     0.0  37000.0  37300.0  36500.0  1006091.0
2   2021.12.03  37050.0  1050.0  36300.0  37050.0  35850.0  1446972.0
3   2021.12.02  36000.0   750.0  34800.0  36000.0  34550.0  1432693.0
4   2021.12.01  35250.0   600.0  34950.0  35500.0  34900.0  1593912.0
5   2021.11.30  34650.0  1650.0  36000.0  36250.0  34650.0  3653594.0
9   2021.11.29  36300.0   400.0  35900.0  36700.0  35750.0  1267034.0
10  2021.11.26  36700.0   650.0  37150.0  37300.0  36550.0  1484622.0
11  2021.11.25  37350.0   400.0  38050.0  38050.0  37350.0   815872.0
12  2021.11.24  37750.0   450.0  37550.0  38350.0  37500.0  1362972.0
13  2021.11.23  37300.0    50.0  37550.0  38050.0  37300.0  1356943.0

### 종목토론실 게시글 수집해보기

In [12]:
# def get_discuss_list(item_code, page_no):
#     """
#     종목토론실 게시글을 페이지별로 수집
#     """ 
#     url = f"https://finance.naver.com/item/board.naver?code={item_code}&page={page_no}"
    
#     headers = {"user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.55 Safari/537.36"} #user-agent"
    
#     response = requests.get(url, headers = headers)  # Requests method 
#     html = bs(response.text, "lxml")
#     bs_table = html.select("table")
#     table = pd.read_html(str(bs_table))
#     temp = table[1].drop(["Unnamed: 6"], axis ='columns' ).dropna()
#     return temp

In [13]:
# item_code = "326030"
# get_discuss_list(item_code, page_no)

## 반복문을 통한 전체 일자 데이터 수집하기
* (주의) 기간이 긴 데이터를 수집할때는 서버에 부담을 주지 않기 위해 time.sleep()값을 주세요.

In [14]:
import time
# web page 시작번호
page_no = 1
# 데이터를 저장할 빈 변수 선언
item_list = []

for page_no in range(1,6):
    print(page_no)
    temp = get_day_list(item_code, page_no)
    item_list.append(temp)

1
2
3
4
5

In [15]:
pd.concat(item_list)

            날짜       종가     전일비       시가       고가       저가        거래량
1   2021.12.06  37050.0     0.0  37000.0  37300.0  36500.0  1006091.0
2   2021.12.03  37050.0  1050.0  36300.0  37050.0  35850.0  1446972.0
3   2021.12.02  36000.0   750.0  34800.0  36000.0  34550.0  1432693.0
4   2021.12.01  35250.0   600.0  34950.0  35500.0  34900.0  1593912.0
5   2021.11.30  34650.0  1650.0  36000.0  36250.0  34650.0  3653594.0
9   2021.11.29  36300.0   400.0  35900.0  36700.0  35750.0  1267034.0
10  2021.11.26  36700.0   650.0  37150.0  37300.0  36550.0  1484622.0
11  2021.11.25  37350.0   400.0  38050.0  38050.0  37350.0   815872.0
12  2021.11.24  37750.0   450.0  37550.0  38350.0  37500.0  1362972.0
13  2021.11.23  37300.0    50.0  37550.0  38050.0  37300.0  1356943.0
1   2021.11.22  37350.0     0.0  37050.0  37550.0  37000.0   885209.0
2   2021.11.19  37350.0   200.0  37150.0  37450.0  37050.0  1050586.0
3   2021.11.18  37150.0   300.0  37350.0  37400.0  37000.0  1106297.0
4   2021.11.17  37450.0   900.0  38050.0  38200.0  37400.0  1236600.0
5   2021.11.16  38350.0   550.0  37750.0  38350.0  37450.0  1113970.0
9   2021.11.15  37800.0   250.0  37600.0  37800.0  37450.0   735022.0
10  2021.11.12  37550.0   300.0  37250.0  37750.0  37250.0   706892.0
11  2021.11.11  37250.0   200.0  37550.0  37600.0  37100.0  1074161.0
12  2021.11.10  37450.0     0.0  37250.0  37900.0  37250.0   788060.0
13  2021.11.09  37450.0   100.0  37550.0  38150.0  37350.0  1051994.0
1   2021.11.08  37550.0    50.0  37400.0  37700.0  37050.0   833236.0
2   2021.11.05  37600.0   350.0  37900.0  38100.0  37150.0  1762415.0
3   2021.11.04  37950.0   100.0  38300.0  38600.0  37900.0  1061339.0
4   2021.11.03  37850.0   350.0  38500.0  38500.0  37600.0  1307517.0
5   2021.11.02  38200.0   100.0  38350.0  38700.0  38200.0  1178985.0
9   2021.11.01  38300.0    50.0  38450.0  38600.0  38100.0  1317581.0
10  2021.10.29  38250.0   350.0  38950.0  39100.0  38100.0  1492252.0
11  2021.10.28  38600.0   950.0  39500.0  39600.0  38600.0  1626400.0
12  2021.10.27  39550.0  1150.0  40700.0  40750.0  39500.0  1582472.0
13  2021.10.26  40700.0   200.0  40800.0  40900.0  40350.0  1308228.0
1   2021.10.25  40500.0   450.0  40100.0  40800.0  39900.0  1490069.0
2   2021.10.22  40050.0   300.0  40000.0  40350.0  39800.0   954085.0
3   2021.10.21  40350.0   550.0  39800.0  40350.0  39650.0  1715891.0
4   2021.10.20  39800.0   500.0  39300.0  40000.0  39300.0  1076886.0
5   2021.10.19  39300.0    50.0  39350.0  39600.0  39100.0   778409.0
9   2021.10.18  39350.0   350.0  39150.0  39500.0  38800.0  1233543.0
10  2021.10.15  39000.0   100.0  38900.0  39200.0  38750.0  1141181.0
11  2021.10.14  38900.0   100.0  38850.0  39100.0  38550.0  1085931.0
12  2021.10.13  38800.0   350.0  38400.0  39100.0  38150.0  1707777.0
13  2021.10.12  38450.0   650.0  38600.0  38850.0  38000.0  2149559.0
1   2021.10.08  39100.0   700.0  39500.0  39650.0  39050.0  1292331.0
2   2021.10.07  39800.0   600.0  39500.0  40000.0  39500.0  1090876.0
3   2021.10.06  39200.0   200.0  39650.0  39950.0  39150.0  1532607.0
4   2021.10.05  39400.0   300.0  39200.0  39950.0  38800.0  1971682.0
5   2021.10.01  39700.0   700.0  40150.0  40400.0  39700.0  1377173.0
9   2021.09.30  40400.0   550.0  39950.0  40500.0  39650.0  1784894.0
10  2021.09.29  39850.0   300.0  40000.0  40300.0  39450.0  1504973.0
11  2021.09.28  40150.0   600.0  39750.0  40500.0  39650.0  2097479.0
12  2021.09.27  39550.0   100.0  39000.0  39700.0  39000.0   991297.0
13  2021.09.24  39650.0   700.0  39150.0  39900.0  39050.0  1802862.0

In [16]:
import time
# web page 시작번호
page_no = 1
# 데이터를 저장할 빈 변수 선언
item_list = []
from tqdm import trange  # 

for page_no in trange(1,6):
    temp = get_day_list(item_code, page_no)
    item_list.append(temp)
    time.sleep(0.01) # 서버에 부담이 될 수도 있으니, 0.01초 만큼 쉬었다가 하게위함

100%|██████████| 5/5 [00:00<00:00, 13.03it/s]

In [17]:
item_code = "377300"
# item_name = "카카오페이"
get_day_list(item_code, page_no)

           날짜        종가      전일비        시가        고가        저가         거래량
1  2021.11.08  153500.0  16500.0  168500.0  169500.0  152000.0   1394625.0
2  2021.11.05  170000.0   1000.0  167500.0  179000.0  167500.0   1597937.0
3  2021.11.04  169000.0  24000.0  190000.0  191000.0  166000.0   3487030.0
4  2021.11.03  193000.0  13000.0  180000.0  230000.0  173000.0  11799881.0

In [18]:
# while 문으로 수집하기
# 마지막 페이지까지 수집하고자할때 활용.
# 단, 마지막 페이지가 10개일때는 무한반복될 수 있기 때문에 날짜를 체크해주는 것이 더 나음
item_list = []
page_no = 1

while True :
    temp = get_day_list(item_code, page_no)
    item_list.append(temp)
    time.sleep(0.01)
    print(temp.iloc[0,0])   # >> 해당 부분을 출력하면, 언제 날짜를 수집하게되는지 알 수 있음
    # 마지막 페이지는 실제 마지막페이지 넘버보다 많을 경우에도 마지막페이지와 값이 같음
    if temp.shape[0] == 10 :
        page_no = page_no + 1
    else : 
        break

2021.12.06
2021.11.22
2021.11.08

In [19]:
item_code = "323410"
# item_name = "카카오뱅크"
get_day_list(item_code, page_no)

            날짜       종가     전일비       시가       고가       저가        거래량
1   2021.11.08  55600.0  1600.0  52600.0  55900.0  52600.0  4020446.0
2   2021.11.05  57200.0  2800.0  58900.0  59000.0  57100.0  2124636.0
3   2021.11.04  60000.0   600.0  59800.0  60700.0  59400.0  1558376.0
4   2021.11.03  59400.0  4700.0  64100.0  64100.0  59100.0  4131208.0
5   2021.11.02  64100.0   200.0  64200.0  64500.0  64000.0   902143.0
9   2021.11.01  63900.0   800.0  63300.0  64400.0  63000.0   958229.0
10  2021.10.29  63100.0  1500.0  64800.0  65200.0  62600.0  1503557.0
11  2021.10.28  64600.0  2600.0  62300.0  65600.0  62100.0  2673129.0
12  2021.10.27  62000.0   100.0  61900.0  62800.0  61100.0   971439.0
13  2021.10.26  61900.0  2000.0  60300.0  61900.0  59900.0  1088174.0

In [20]:
## 포문과 와일문의 차이 > 포문은 범위가 정해져있을때, 와일문은 범위가 정해져있지 않을때

item_list = []
page_no = 1
last_date = None

while True :
    # 한페이지를 수집
    temp = get_day_list(item_code, page_no)
    # 기준을 정하기 위해 해당 페이지의 날짜를 수집
    curr_date = temp.iloc[0,0]
    
#     item_list.append(temp)
#     time.sleep(0.01)
    
    if last_date != curr_date :
        #날짜가 다를때만 데이터를 추가하고 페이지번호를 + 1
        item_list.append(temp)
        time.sleep(0.01)
        print(last_date, curr_date, "페이지수 :", len(item_list)) 
        page_no = page_no + 1
        last_date = curr_date
    else : 
        # 날짜가 같다면 멈추기
        break
        
        
# 날짜를 비교해서 날짜가 같다면 ,

None 2021.12.06 페이지수 : 1
2021.12.06 2021.11.22 페이지수 : 2
2021.11.22 2021.11.08 페이지수 : 3
2021.11.08 2021.10.25 페이지수 : 4
2021.10.25 2021.10.08 페이지수 : 5
2021.10.08 2021.09.23 페이지수 : 6
2021.09.23 2021.09.06 페이지수 : 7
2021.09.06 2021.08.23 페이지수 : 8
2021.08.23 2021.08.06 페이지수 : 9

## 수집한 데이터 하나의 데이터프레임으로 합치기

<img src="https://pandas.pydata.org/docs/_images/merging_concat_basic.png">

* [Merge, join, concatenate and compare documentation](https://pandas.pydata.org/docs/user_guide/merging.html#merge-join-concatenate-and-compare)

In [21]:
# DataFrame들이 list의 형태로 저장된 것을 concat을 이용하여 합치면서 하나의 DataFrame으로 만듭니다.
df = pd.concat(item_list)
df.shape

(81, 7)

<img src="https://pandas.pydata.org/docs/_images/02_io_readwrite.svg">

In [22]:
# head와 tail로 데이터의 일부를 가져와서 봅니다.
df.head()

           날짜       종가     전일비       시가       고가       저가        거래량
1  2021.12.06  65700.0  1800.0  67200.0  67900.0  65200.0   985124.0
2  2021.12.03  67500.0  2500.0  65200.0  68100.0  64700.0  1634554.0
3  2021.12.02  65000.0   200.0  64800.0  65600.0  63800.0  1049808.0
4  2021.12.01  65200.0   400.0  65600.0  67200.0  64500.0  1920674.0
5  2021.11.30  65600.0  4700.0  70700.0  72300.0  63700.0  7305640.0

In [23]:
df.tail()

            날짜       종가      전일비       시가       고가       저가         거래량
10  2021.08.12  73800.0    600.0  73600.0  75400.0  72700.0   5878196.0
11  2021.08.11  74400.0   3000.0  71200.0  77500.0  68100.0  21592734.0
12  2021.08.10  71400.0   7100.0  81800.0  85600.0  68000.0  26495122.0
13  2021.08.09  78500.0   8700.0  69800.0  89100.0  69000.0  44833696.0
1   2021.08.06  69800.0  16100.0  53700.0  69800.0  51000.0  59402373.0

## 데이터프레임에 종목코드와 종목명을 추가하기
* 파생변수 만들기

In [24]:
# '종목코드'와 '종목명' column을 추가하면서 각각 item_code와 item_name 값을 입력합니다.
df["종목코드"] = item_code
df["종목명"] = item_name

In [25]:
df.head(1)

,날짜,종가,전일비,시가,고가,저가,거래량,종목코드,종목명
1,2021.12.06,65700.0,1800.0,67200.0,67900.0,65200.0,985124.0,323410,SK바이오팜

## 컬럼 순서 변경하기

In [26]:
# DataFrame에서 column 들의 이름을 순서를 조정하여 column순서를 변경할 수 있습니다.
df.columns

Index(['날짜', '종가', '전일비', '시가', '고가', '저가', '거래량', '종목코드', '종목명'], dtype='object')

In [27]:
cols = ['종목코드', '종목명', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']
df = df[cols]
df

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,323410,SK바이오팜,2021.12.06,65700.0,1800.0,67200.0,67900.0,65200.0,985124.0
2,323410,SK바이오팜,2021.12.03,67500.0,2500.0,65200.0,68100.0,64700.0,1634554.0
3,323410,SK바이오팜,2021.12.02,65000.0,200.0,64800.0,65600.0,63800.0,1049808.0
4,323410,SK바이오팜,2021.12.01,65200.0,400.0,65600.0,67200.0,64500.0,1920674.0
5,323410,SK바이오팜,2021.11.30,65600.0,4700.0,70700.0,72300.0,63700.0,7305640.0
...,...,...,...,...,...,...,...,...,...
10,323410,SK바이오팜,2021.08.12,73800.0,600.0,73600.0,75400.0,72700.0,5878196.0
11,323410,SK바이오팜,2021.08.11,74400.0,3000.0,71200.0,77500.0,68100.0,21592734.0
12,323410,SK바이오팜,2021.08.10,71400.0,7100.0,81800.0,85600.0,68000.0,26495122.0
13,323410,SK바이오팜,2021.08.09,78500.0,8700.0,69800.0,89100.0,69000.0,44833696.0
1,323410,SK바이오팜,2021.08.06,69800.0,16100.0,53700.0,69800.0,51000.0,59402373.0

## 중복데이터 제거하기
* drop_duplicates 를 통해 중복된 데이터가 있다면 제거합니다.

In [28]:
# drop_duplicates : row들 끼리 data를 비교하여 같은 값이 있으면 row중 하나를 삭제
# df.shape를 전/후로 출력하여 삭제된 row가 있는지 확인
df.drop_duplicates()
df.shape

(81, 9)

## 기술통계값 구하기

In [29]:
8.1e+01

81.0

In [30]:
# describe는 기본적으로 수치데이터에 대한 기술통계값을 구하게 됩니다.
df.describe()

,종가,전일비,시가,고가,저가,거래량
count,81.000000,81.000000,81.000000,81.000000,81.000000,8.100000e+01
mean,68440.740741,2345.679012,68159.259259,70261.728395,66458.024691,5.572761e+06
std,9429.458863,2603.845684,9669.963518,10259.331946,9048.312884,9.419174e+06
min,55300.000000,100.000000,52600.000000,55900.000000,51000.000000,6.539220e+05
25%,61300.000000,700.000000,60500.000000,62500.000000,59900.000000,1.311776e+06
50%,65600.000000,1600.000000,65200.000000,67900.000000,64500.000000,2.125450e+06
75%,72300.000000,3000.000000,71300.000000,75800.000000,69300.000000,5.252682e+06
max,92000.000000,16100.000000,92800.000000,94400.000000,88600.000000,5.940237e+07

* 참고 : E notation
[과학적 기수법 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%EA%B3%BC%ED%95%99%EC%A0%81_%EA%B8%B0%EC%88%98%EB%B2%95)

과학적 기수법, 과학적 표기법(scientific notation, scientific form, standard index form, standard form)은 너무 크거나 너무 작은 숫자들을 십진법으로 편하게 작성하여 표현하는 방법이다. 과학자, 수학자, 공학자들이 공통적으로 사용하는데, 부분적인 이유는 특정한 산술을 단순화시켜 주기 때문이다. 과학 계산기에서는 "SCI" 디스플레이 모드라는 이름으로 알려져 있다.

In [31]:
# 거래량의 과학적 기수법 읽기
5.940237e+07

59402370.0

In [32]:
5.940237 * 10 ** 7
# 위의 식과 같은 값

59402370.0

## 최근 날짜 구해서 파일명 만들기

In [33]:
# 날짜 column의 첫 row값 확인
# date
date = df.iloc[0]["날짜"]
date

'2021.12.06'

In [34]:
# 종목명, 종목코드, 날짜를 이름으로 하는 csv 파일명 만들기
# file_name
file_name = f"{item_name}_{item_code}_date.csv"
file_name

'SK바이오팜_323410_date.csv'

## 파일로 저장하기

In [35]:
# 파일로 저장하기 
# index=False 로 데이터프레임의 기본 index 는 저장하지 않도록 합니다.
df.to_csv(file_name, index = False)

In [36]:
# 제대로 저장되었는지 파일을 읽어서 확인합니다.
pd.read_csv(file_name).sample()

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
4,323410,SK바이오팜,2021.11.30,65600.0,4700.0,70700.0,72300.0,63700.0,7305640.0

## 전체 과정을 하나의 함수로 만들기

In [37]:
item_code = "326030"
# item_name = "바이오팜"
get_day_list(item_code, page_no)

            날짜        종가     전일비        시가        고가        저가       거래량
1   2021.07.23  122000.0  2000.0  124000.0  125000.0  122000.0  235444.0
2   2021.07.22  124000.0  1000.0  125000.0  125000.0  123000.0  155904.0
3   2021.07.21  125000.0   500.0  125500.0  127000.0  124000.0  194282.0
4   2021.07.20  124500.0  1000.0  123500.0  125500.0  123000.0  198884.0
5   2021.07.19  125500.0     0.0  124000.0  127000.0  123000.0  216944.0
9   2021.07.16  125500.0  3000.0  127500.0  128500.0  125500.0  327694.0
10  2021.07.15  128500.0  2000.0  130500.0  131500.0  128000.0  228926.0
11  2021.07.14  130500.0  2000.0  132500.0  132500.0  129500.0  214600.0
12  2021.07.13  132500.0  5000.0  129000.0  133000.0  128000.0  354269.0
13  2021.07.12  127500.0   500.0  128500.0  128500.0  126500.0  181619.0

In [38]:
# 종목명, 종목코드를 받아서
# 특정 페이지를 수집하는 함수를 호출하여 전체 기간 데이터를 수집하고 CSV 파일로 저장까지

# def get_day_list(item_code, page_no):
#     """
#     일자별 시세를 페이지별로 수집
#     """ 
#     url = f"https://finance.naver.com/item/sise_day.naver?code={item_code}&page={page_no}"
    
#     headers = {"user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.55 Safari/537.36"} #user-agent"
#     # 해더를 만들어주는 이유는 > 데이터를 수집하는 주체(나)가 브라우저라고 알려주기 위함
    
#     response = requests.get(url, headers = headers)  # Requests method 
#     html = bs(response.text, "lxml") # Request 해석하기 어렵기 때문에 beatiful soup으로 감싸준다. > lxml 파씽하는 방법 중 하나임.
#     bs_table = html.select("table")
#     table = pd.read_html(str(bs_table))
#     temp = table[0].dropna()
#     return temp


def get_item_list(item_code, item_name):
    """
    일별 시세를 수집하는 함수
    """
    item_list = []
    page_no = 1
    last_date = None
    
    while True :
        temp = get_day_list(item_code, page_no)
        curr_date = temp.iloc[0,0]
    
        if last_date != curr_date :
            item_list.append(temp)
            time.sleep(0.01)
            print(last_date, curr_date, "페이지수 :", len(item_list)) 
            page_no = page_no + 1
            last_date = curr_date
        else : 

            break
        
    df = pd.concat(item_list)
    df["종목코드"] = item_code
    df["종목명"] = item_name
    df = df.drop_duplicates()
    cols = ['종목코드', '종목명', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']
    df = df[cols]
#     date = df.iloc[0]["날짜"]
    file_name = f"{item_name}_{item_code}_date.csv"
    df.to_csv(file_name, index = False)
    return df

In [39]:
get_item_list("326030", "SK바이오팜")

None 2021.12.06 페이지수 : 1
2021.12.06 2021.11.22 페이지수 : 2
2021.11.22 2021.11.08 페이지수 : 3
2021.11.08 2021.10.25 페이지수 : 4
2021.10.25 2021.10.08 페이지수 : 5
2021.10.08 2021.09.23 페이지수 : 6
2021.09.23 2021.09.06 페이지수 : 7
2021.09.06 2021.08.23 페이지수 : 8
2021.08.23 2021.08.06 페이지수 : 9
2021.08.06 2021.07.23 페이지수 : 10
2021.07.23 2021.07.09 페이지수 : 11
2021.07.09 2021.06.25 페이지수 : 12
2021.06.25 2021.06.11 페이지수 : 13
2021.06.11 2021.05.28 페이지수 : 14
2021.05.28 2021.05.13 페이지수 : 15
2021.05.13 2021.04.28 페이지수 : 16
2021.04.28 2021.04.14 페이지수 : 17
2021.04.14 2021.03.31 페이지수 : 18
2021.03.31 2021.03.17 페이지수 : 19
2021.03.17 2021.03.03 페이지수 : 20
2021.03.03 2021.02.16 페이지수 : 21
2021.02.16 2021.01.29 페이지수 : 22
2021.01.29 2021.01.15 페이지수 : 23
2021.01.15 2020.12.30 페이지수 : 24
2020.12.30 2020.12.15 페이지수 : 25
2020.12.15 2020.12.01 페이지수 : 26
2020.12.01 2020.11.17 페이지수 : 27
2020.11.17 2020.11.03 페이지수 : 28
2020.11.03 2020.10.20 페이지수 : 29
2020.10.20 2020.10.05 페이지수 : 30
2020.10.05 2020.09.16 페이지수 : 31
2020.09.16 2020.09.02 페이지수 : 32
2020.09.02 2020.08.19 페이지수 : 33
2020.08.19 2020.08.04 페이지수 : 34
2020.08.04 2020.07.21 페이지수 : 35
2020.07.21 2020.07.07 페이지수 : 36

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,326030,SK바이오팜,2021.12.06,98100.0,1800.0,99300.0,100500.0,97100.0,146395.0
2,326030,SK바이오팜,2021.12.03,99900.0,2900.0,97400.0,100500.0,95900.0,222004.0
3,326030,SK바이오팜,2021.12.02,97000.0,2000.0,93800.0,97000.0,93500.0,145098.0
4,326030,SK바이오팜,2021.12.01,95000.0,300.0,94100.0,95500.0,92700.0,178901.0
5,326030,SK바이오팜,2021.11.30,95300.0,500.0,96000.0,97100.0,94200.0,265739.0
...,...,...,...,...,...,...,...,...,...
13,326030,SK바이오팜,2020.07.08,217000.0,500.0,214500.0,225000.0,198000.0,5990009.0
1,326030,SK바이오팜,2020.07.07,216500.0,2000.0,219000.0,269500.0,210000.0,10105187.0
2,326030,SK바이오팜,2020.07.06,214500.0,49500.0,214500.0,214500.0,193500.0,7126211.0
3,326030,SK바이오팜,2020.07.03,165000.0,38000.0,165000.0,165000.0,165000.0,711921.0
4,326030,SK바이오팜,2020.07.02,127000.0,29000.0,98000.0,127000.0,98000.0,698642.0

In [40]:
# item_code = "352820"
# item_name = "하이브"

item_code = "326030"
item_name = "SK바이오팜"

## 내가 만든 함수의 기능과 소스코드가 궁금하다면?

In [41]:
# 도움말 보기
get_item_list?

In [42]:
# 소스코드 보기
get_item_list??